body {
    background-color: #F2F2F2;
}

h1, h2, h3 {
    text-align: center;
    padding-bottom: 0.5cm;
}

p {
    padding-left: 1cm;
    padding-right: 1cm;
    font-size: 18px;
}

img {
    width: 1cm;
}

h1 {
    color: #2644CA;
}
h2 {
    color: #0D7811;
}
header {
    padding-bottom: 1cm;
    padding-top: 1cm;
}

div {
    padding: 0.5cm;
}